body {
    font-family: "Roboto", sans-serif;
}

/*barra de navegaçao inicial*/
.navbar {
    background-color: #e15f41;
}

/* o item do menu que estiver ativo no momento*/
#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

/*o escrito do nome do restaurante, bem como os outros itens do menu de navegaçao*/
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}


.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: "Pacifico", cursive;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #e15f41;
}

/*.nav-cardapio .nav-link.active é para estilizar apenas o item ativo do cardapìo*/
.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}